@{
    ViewBag.Title = "BookingCompleted";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Booking Completed</h2>
    <div id="submenu-container">
        <ul id="submenu">
            <li><a href="/Home/RestaurantBooking">Book Seating</a></li>
            <li><a href="/Home/MarkAttendance">Mark Schedule</a></li>
        </ul>
        </div>
    <br/>
<p class="booking-message">
    You have successfully booked your reservations.
</p>